body {
	background-color: #eeeeee;
}

.controls {
	padding: 32px 0
	
}

.canvas-container{
	margin-top: 15px;
	margin-bottom: 15px;
}
.canvas-container > .canvas-body {
	height: 240px;
	width: 100%;
	background: #fff;
	border: #ddd;
}