<!DOCTYPE html>
<html ng-app="gcanvas">

<head>
	<title>generate canvas</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link type="text/css" rel="styleSheet" href="css/styles.css">
</head>

<body ng-controller="mainController as MC" ng-cloak>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
	</nav>

	<div class="container main-container">
		<div class="row controls">
			<div class="col-md-auto form-inline">
				<div class="form-group mr-3">
					<select class="form-control" id="exampleFormControlSelect1" style="min-width: 100px" ng-disabled="!MC.canvasList.length">
						<option selected disabled>Select #</option>
						<option ng-repeat="canvas in MC.canvasList track by $index" ng-value='canvas.id'>{{canvas.id}}</option>
						
					</select>
				</div>
				<button type="button" class="btn btn-success" ng-disabled="!MC.canvasList.length">Insert to canvas</button>
			</div>
			<div class="col-md">
			</div>
				
			<div class="col-md-auto">
				<button type="button" class="btn btn-success" ng-click="MC.generateCanvas();">Generate canvas</button>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 canvas-container" ng-repeat="canvas in MC.canvasList  track by $index">
<canvas class="canvas-body" id="canvas{{$index+1}}" ></canvas>
			</div>

		</div>
	</div>
	
	<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script> -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/mainController.js"></script>
</body>
	
</html>